{{page-title "EmberjsCookbook"}}

<BlockContent::CardView as |card|>
    <card.header>
        <p>Header</p>
    </card.header>
    
    <card.body>
        <p>Body</p>
    </card.body>
</BlockContent::CardView>


<BlockContent::ChattyContainer as |c|>
    <p>{{c.greeting}}</p>
</BlockContent::ChattyContainer>
{{outlet}}